# Virtual Environments
.venv/
.venv_new/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
*.sqlite3

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Byte-compiled / optimized
*.pyc
*.pyo
