Flask==3.0.0
Flask-SocketIO==5.3.5
Flask-CORS==4.0.0
pythonping==1.1.4
APScheduler==3.10.4
python-engineio==4.8.0
python-socketio==5.10.0
requests>=2.31.0
urllib3>=2.0.0
pysnmp>=6.0.0
dnspython>=2.0.0
